@model IEnumerable<WebAplikacija.Models.Sala>

@{
    ViewBag.Title = "Index";
}

<h2>Sale</h2>
<style>
    a.my-class { color: #000000 }
a.my-class:active { color: #000000 }
a.my-class:link { color: #000000 }
a.my-class:visited { color: #000000 }

</style>
<p>
    @Html.ActionLink("Dodaj novu salu", "Create",null, new { @class = "my-class" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.kapacitet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.naziv)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.kapacitet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.naziv)
        </td>
        <td>
            @Html.ActionLink("Izmijeni", "Edit", new { id=item.salaID }, new { @class = "my-class" }) |
            @Html.ActionLink("Detalji", "Details", new { id=item.salaID }, new { @class = "my-class" }) |
            @Html.ActionLink("Izbriši", "Delete", new { id = item.salaID }, new { @class = "my-class" } )
        </td>
    </tr>
}

</table>
