@model WebAplikacija.Models.Ispit

@{
    ViewBag.Title = "Edit";
}

<h2>Izmijeni</h2>
<style>
    a.my-class {
        color: #000000;
    }

        a.my-class:active {
            color: #000000;
        }

        a.my-class:link {
            color: #000000;
        }

        a.my-class:visited {
            color: #000000;
        }
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Ispit</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ispitID)

        <div class="form-group">
            @Html.LabelFor(model => model.brojPrijavljenih, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.brojPrijavljenih, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.brojPrijavljenih, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.termin, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.termin, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.termin, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Spasi" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Povratak na listu", "Index", null, new { @class = "my-class" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
